#quote-box {
  background-color: #3C2A21;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s;
}

#quote-box:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(229, 229, 203, 0.1);
}

.quote-content {
  padding: 3rem 3rem;
}

#author {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  color: #E5E5CB;
  margin-bottom: 1.5rem;
}

#text {
  text-align: justify;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #E5E5CB;
  margin-bottom: 2.5rem;
}

#new-quote {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3C2A21;
  background-color: #D5CEA3;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}

#new-quote:hover, #new-quote:active {
  background-color: #E5E5CB;
}