*,
*::before,
*::after {
  margin: 0 auto;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  text-align: center;
  padding: 6rem;
  background-color: #1A120B;
  font-family: "Inter", sans-serif;
  width: 100%;
}
@media (max-width: 60em) {
  body {
    padding: 3rem;
  }
}


@media (max-width: 650px) {
  html {
    font-size: 65%;
  }
}

@media (min-width: 1300px) {
  body {
    width: 50%;
  }
  html {
    font-size: 90%;
  }
}
