.figureContainer {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 80%;
  margin: 0;
  border: 10px solid green;

}

.figureContainer img {
  width: 90%;
  border-radius: 12px;
}
