.figureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.figureContainer img {
  width: 100%;
  height: 20rem;
}

@media (min-width: 1024px) {
  .figureContainer img {
    width: 70%;
    border-radius: 0.4rem;
  }
}